[Desktop Entry]
Type=Application
Version=1.0
Name=Station-1.58.1-x86_64.AppImage
Comment=Station-1.58.1-x86_64.AppImagestartup script
Exec=/home/afropunk/Applications/Station-1.58.1-x86_64.AppImage
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=false
X-MATE-Autostart-enabled=false
