[Desktop Entry]
Type=Application
Exec=tomboy &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_ZA]=Tomboy
Name=Tomboy
Comment[en_ZA]=
Comment=
